.socials
  align-items: center
  display: flex
  margin-left: auto

  &__link
    text-indent: -9999px
    display: block
    width: 50px
    height: 50px
    margin-left: 10px
    background:
      repeat: no-repeat
      position: center

    &_github
      background-image: url("assets/svg/github.svg")

      &:hover
        background-image: url("assets/svg/github_round.svg")

    &_in
      background-image: url("assets/svg/in.svg")

      &:hover
        background-image: url("assets/svg/in_round.svg")

    &_vk
      background-image: url("assets/svg/vk.svg")

      &:hover
        background-image: url("assets/svg/vk_round.svg")
